<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @work_location.address %>
</p>

<%= link_to 'Edit', edit_work_location_path(@work_location) %> |
<%= link_to 'Back', work_locations_path %>
