<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @new_total_cost.total %>
</p>

<%= link_to 'Edit', edit_new_total_cost_path(@new_total_cost) %> |
<%= link_to 'Back', new_total_costs_path %>
